
.poke-font1 {
  font-family: 'Stalinist One', cursive;
}

.poke-font2 {
  font-family: 'Share Tech Mono', monospace; 
}

.poke-font3 {
  font-family: 'Londrina Shadow', cursive;
}

.poke-color1 {
  color: rgb(87, 184, 119);
}

#player {
  width: 50%
}


.delete {
  color:aquamarine;
  padding: 12px;
}


