body {
  background-image: url('../images/NewpalletTown.PNG.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; 
  height: 100vh;
  padding:0;
  margin:0;
}
.poke-font1 {
  font-family: 'Stalinist One', cursive;
}

.poke-font2 {
  font-family: 'Share Tech Mono', monospace; 
}

.poke-font3 {
  font-family: 'Londrina Shadow', cursive;
}

.poke-color1 {
  color: rgb(87, 184, 119);
}


.delete {
  color:aquamarine;
  padding: 5px;
}
