
.poke-font1 {
  font-family: 'Stalinist One', cursive;
  color: rgb(73, 156, 224);
}

.poke-font2 {
  font-family: 'Share Tech Mono', monospace;
  color: rgb(87, 184, 119);
}

.poke-font3 {
  font-family: 'Londrina Shadow', cursive;
}

.delete {
  color:aquamarine;
  padding: 5px;
