body { 
    background-image: url("assets\images\trainer-page.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    
}

.poke-center {
  display: block;
  justify-content: center;
  margin-top: 10%;
  margin-left: 40%;
}