body { 
<<<<<<< HEAD
<<<<<<< HEAD
    background-image: url("../images/trainer page.gif");
=======
    background-image: url("assets\images\trainer-page.gif");
>>>>>>> 495c78f (renamed class)
=======
    background-image: url("../images/trainer-page.gif");
>>>>>>> 4c00ee4 (fix background)
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
    
}

.poke-center {
  display: block;
  justify-content: center;
  margin-top: 10%;
  margin-left: 40%;
}


.poke-font1 {
  font-family: 'Stalinist One', cursive;
}

.poke-font2 {
  font-family: 'Share Tech Mono', monospace; 
}

.poke-font3 {
  font-family: 'Londrina Shadow', cursive;
}